* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #c8c6c6d3;
}
header {
    padding: 20px;
    background: linear-gradient(to bottom, #000, #333); 
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100vw;
}

.header-content h1, .header-content p {
    margin: 10px 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh; 
    background-color: #333;
}

.texto {
    font-size: 28px;
    font-weight: bold;
}

.btn {
    padding: 10px 30px;
}

.riscado {
    text-decoration: line-through;
    color: red;
}

.lado {
    margin-left: 10px;
    font-weight: bold;
    color: green;
}

footer {
    padding: 20px;
    background: linear-gradient(to bottom, #333, #000);
    color: white;
    text-align: center;
}
